/* All styles for your Card Components live here */


.card-banner{
    border: 2px solid black;
    margin:10px;
}

.card-container{
    border: 2px solid black;
     margin:10px;
}

.card-content{
    border: 2px solid black;
     margin:10px;
}
